.button {
    background-color: var(--white);
    width: 105%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    border: 1px var(--grey);
    font-weight: 500;
    color: var(--black);

}

.button2 {
    background-color: var(--white);
    width: 105%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border-radius: 30px;
    border: 1px var(--grey);
    font-weight: bolder;
    color: var(--black);
}